#login-form {
    backdrop-filter: blur(50px);

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 370px;
    width: 100%;

    max-height: 530px;
    height: 100%;

    box-sizing: border-box;
    border-radius: 50px;
    padding: 45px;
    overflow: hidden;
}

#login-heading {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 30px;

    color: whitesmoke;
}

#welcome-message {
    text-align: center;
    font-size: 14px;

    color: whitesmoke;
}

.login-input-group {
    width: 100%;
    height: 12%;

    padding: 0 10px;
    margin-top: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    align-items: start;
}

.login-input {
    width: 100%;
    flex-grow: 1;

    border-radius: 7px;
    border: 0;

    backdrop-filter: blur(10px);
    background: rgba(255,255,255,30%);
    color: antiquewhite;

    transition-duration: 1s;
}

.login-input:focus {
    background: rgba(255,255,255,100%);
    color: black;
}

.login-input-label {
    align-self: start;

    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;

    color: #DFDDDF;
}

#login-form-submit {
    width: 100%;
    height: 10%;

    background-color: #e10f0f;
    color: whitesmoke;

    border: 0;
    border-radius: 10px;

    margin-top: 20px;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}